<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PATH_TP" value="https://targetprocess.aemedia.ru/TargetProcess2/api/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TP_Token" value="Token=MjU6Qjg0REU3MTY0OUQ4RDEyRTBGM0U5Qjg2ODlDNTUzNDE=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    
    <add key="SDP_API_KEY" value="98A2DD94-1164-414D-B1A1-0FA222CFB0ED" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PATH_SDP" value="http://rumsk2hpdm01.east.msk/sdpapi" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
  </appSettings>
  <connectionStrings>
    <add name="SDP_MySQL" connectionString="Server=rumsk2hpdm01.east.msk;Port=33366;Database=servicedesk;Uid=DM;Pwd=reneifineif;" xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>