<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PATH_TP" value="https://cis.tpondemand.com/api/v1/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TP_Token" value="Token=MTU6MjNGMzMwRDJFNzc4RDdBODI4QTMyOTY0NTVDODE4REY=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SDP_API_KEY" value="FDC4BEF6-6C99-44E3-8217-FBF072DCAAB2"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PATH_SDP" value="http://rumsk2hpdm02.east.msk/sdpapi"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="tpProject_Team_Mapping" value="2584:3220" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="SDP_MySQL" connectionString="Server=rumsk2hpdm02.east.msk;Port=33366;Database=servicedesk;Uid=DM;Pwd=reneifineif;" xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>