<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="PATH_TP" value="https://targetprocess.aemedia.ru/TargetProcess2/api/v1/" />
    <add key="TP_Token" value="Token=MjU6Qjg0REU3MTY0OUQ4RDEyRTBGM0U5Qjg2ODlDNTUzNDE=" />   
    <add key="SDP_API_KEY" value="98A2DD94-1164-414D-B1A1-0FA222CFB0ED"/>
    <add key="PATH_SDP" value="http://rumsk2hpdm01.east.msk/sdpapi" />    
    <add key="SDP_USER" value="admin_west" />
    <add key="SDP_Request_link" value="http://rumsk2hpdm01.east.msk/WorkOrder.do?woMode=viewWO&amp;woID=" />
    <add key="SDP_Services_to_select" value="' Business Solutions Support'" />
    <add key="SDP_SupportGroups_to_select" value="'Разработка 1С-приложений'" />    
    <add key="sdpApplication_TPProject_Mapping" value="1CAccounting:16286,1CBitFinance:16287,1CConsolidation:16909,1CDocFlow:18349,1CHR:16285,1CMediaController:16284,1CMediaFinance:3283,default:2584"/>
  </appSettings>  
  <connectionStrings>
    
  </connectionStrings>
  
</configuration>
